.home, .connect, .login-pg{
	width: 80vw;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}


.landing-title {
	color: rgb(83, 83, 83);
}

.login, .logout {	
	width: 150px;
	height: 30px;
	font-size: 1rem;
	border: 0.1rem solid white;
	border-radius: 0.3rem;
	background-color: rgba(16, 43, 67);
	color: white;
	margin: 20 0 20 0;

	&:hover{
		border: 0.1rem solid rgba(16, 43, 67);
		background-color: rgb(234, 235, 236);
		color: rgba(16, 42, 67);
	}
	
}