@import 'home';
@import 'sidebar';

@import 'metric';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
	margin: 0;
	padding: 0;
}

body{
	background-color: rgb(234, 235, 236);
	font-family: 'Montserrat', sans-serif;
}

main{
	display: flex;
}

.home, .login-pg, .connect, .consumer, .producer{
	display: flex;
	height: 100vh;
	margin-left: 20;
	margin-right: 20;
}

//Home directory
.connect{
	// width: 80vw;
	display: flex;
	align-items: center;
	justify-content: center;

}

.connect-form{
	display: flex;
	flex-flow: column nowrap;
	// align-items: center;
}

.connect-inputs{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	margin: 5 0 5 0;
}

label{
	color: rgb(47, 59, 141);
	margin-right: 5px;
	align-self: center;
}

.form-input-btn{
	align-self: center;
}

.connect-form-btn{
	width: 150px;
	height: 30px;
	font-size: 1rem;
	border: 0.1rem solid white;
	border-radius: 0.3rem;
	background-color: rgba(16, 42, 67);
	color: white;
	margin: 20 0 20 0;

	&:hover{
		border: 0.1rem solid rgba(16, 42, 67);
		background-color: rgb(234, 235, 236);
		color: rgba(16, 42, 67);
	}
}

.Error {
	align-self: center;
}



// broker directory
.broker {
	// flex-grow: 1;
	margin: 30;
}

