.metric-card{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	border: 1px solid white;
	color: white;

	padding: 10px;
}

.metric-title{
	margin: 5 0 30 0;
	font-size: 1.1rem;
	font-weight: 600;
}

.metric-title-over{
	margin: 5 0 30 0;
	font-size: 1.1rem;
	font-weight: 600;
	color: rgba(244, 48, 48, 0.956);
}

.metric-val{
	font-size: 1.1rem;
	margin-bottom: 20;
}


.metric-over-norm{
	font-size: 1.1rem;
	color: rgba(244, 48, 48, 0.956);
	margin-bottom: 20;
}